--extra-index-url https://download.pytorch.org/whl/cpu
flask
gunicorn
werkzeug
pymupdf4llm
google-genai
chromadb
sentence-transformers
langchain-text-splitters
python-dotenv
torch>=2.5.0
torchvision>=0.20.0
